/* GENERALE */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* /GENERALE */

/* HEADER */

header{
  position: fixed;
  z-index: 999;
  width: 100%;
  text-align: right;  
}

/* Bottoni */

nav ul li{
  list-style: none;
  display: inline-block;
  margin:40px
}

li button{
  padding: 20px 25px 20px 25px;
  border-radius: 50%;
  border: none;
  background-color:white;
  box-shadow: 0px 0px 5px black;
  font-size: 1.2rem;
  font-family: 'Rubik', sans-serif;
}

button:hover{
  cursor: pointer;
}

button:focus{
  background-color: lightgray;
}

/* /Bottoni */
/* /HEADER */

/* MAIN */
/* Immagini e sfondo */
.box{
  position: relative;
  width: calc(100%-20);
  margin: 10px auto;
  height: calc(100vh - 20px);
}

.primo{
  background-color: red;
}

.secondo{
 background-color: green;
}

.terzo{
  background-color: yellow;
}

div img{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-40%,-50%);
}
/* /Immagini e sfondo */

/* Testo */
.text{
  position: absolute;
  width: 40%;
  top: 75%;
  left: 50%;
  transform: translate(-40%,-50%);
  font-size: 70px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Rubik', sans-serif;
}

#text-1, #text-2{
  color: yellow;
}

#text-3{
  color: green;
}

/* /Testo */